<!DOCTYPE html>
<html>
  <head>
    <title>GoodBoys</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="goodBoys" />
    <meta property='og:image' content="<%= image_url('gdby_logo.png') %>"/>
    <meta property="og:description"
      content="goodBoys is a fullstack mock of Amazon's GoodReads, a website to rate and review past relationships"
    />
    <meta property="og:url"
      content="https://splitzies.herokuapp.com/#/"
    />



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐕</text></svg>">


    <script>
      window.gdby_logo = '<%= image_url('gdby_logo.png') %>'
      window.dog_photo = '<%= image_url('miz.png') %>' 
      window.bookshelf = `<%= image_url('bookshelf.png') %>`
    </script>



    <% if logged_in? %>
      <script type= "text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe%>
      </script>
    <% end %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
